
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1A1D27;
    color: #FFFFFF;
  }
  
  header {
    padding-bottom: 20px;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #1A1D27;
  }
  
  .contact p {
    
    font-size: 18px;
    margin: 0;
    color: #E7C085;
  }
  
  .logo {
    text-align: center;
    color: #E7C085;
  }
  
  .reservation button {
    padding: 10px 20px;
    font-size: 16px;
    color: #1A1D27;
    background-color: #E7C085;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar {
    background-color: #292D3A;
    padding: 10px 50px;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
  .navbar li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    
  }
  
  .social-icons a {
    margin-left: 20px;
    color: #E7C085;
    text-decoration: none;
  }
  
  .welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  
  .welcome-text h2 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .welcome-text p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .view-menu {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    color: #E7C085;
    border: 2px solid #E7C085;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .welcome-image img {
    border-radius: 10px;
    max-width: 300%;
    height: auto;
  }